.adlam-display-font {
    font-family: "ADLaM Display", system-ui;
  }
  .sora-font{
    font-family: "Sora", sans-serif;
  }
  .btn-1{
    width: 85px;
    height: 28px;
    box-sizing: border-box;
    border: 1px solid rgb(255, 220, 38);
    border-radius: 6px;
    
}
.btn-2{
    width: 107px;
    height: 28px;
    
    background: rgb(255, 220, 38);
    border-radius: 6px;
}
nav{
    background: rgb(255, 249, 244);
}
section{
    padding-left: 150px;
    padding-top: 80px;
}
.cat-img{
    margin-top: -330px;
    padding-left: 230px;
}
.dog{
    border-radius: 9px;
    background: rgb(249, 223, 138);
   width: 124px;
   height: 140px;
   padding-left: 34px;
  padding-top: 20px;
}
.dog>img{
    background: rgb(255, 255, 255);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 7%;
    /* margin:0 auto ; */
    
    
}
.dog>h1{
    font-family: ADLaM Display;
font-size: 16px;
font-weight: 300;
line-height: 22px;
letter-spacing: 0%;
margin-top: 10px;
padding-left: 10px;
}
.dog>p{
    font-size: 14px;
    color: rgb(0, 0, 0);
    margin-top: 6px;
    
}
.second-page{
    padding-left: 140px;
    padding-right: 140px;
    padding-top: 80px;
    margin-bottom: 100px;
}
.second-head{
    margin-bottom: 40px;
   
}
.fourth-page-head{
    color: rgb(17, 17, 17);
font-family: ADLaM Display;
font-size: 32px;
font-weight: 300;
line-height: 37px;
letter-spacing: 0%;
margin-bottom: 50px;
}
.card-1>h2{
    font-size: 27px;
    font-family: ADLaM Display;
}
.card-1>p{
    font-size: 14px;
}
.pet-small{
    width: 350px;
    height: 368px;
    border-radius: 8px;
    background: rgb(249, 223, 138);
    
    
}
.mesbah{
    padding: 10%;
}
.small-pet{
    margin-top: -140px;
    margin-left: 80px;
    
}
.card-2, .card-3, .card-4, .card-5, .card-6, .card-7, .card-8, .card-9, .card-10{
    box-sizing: border-box;
    border: 0.67px solid rgba(17, 17, 17, 0.1);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    width: 200px;
height: 100px;
padding: 10px;
}
.pet-small{
    grid-area: pet-small;
}
.card-2{
    grid-area: card-2;
}
.card-3{
    grid-area: card-3;
}
.card-4{
    grid-area: card-4;
}
.card-5{
    grid-area: card-5;
}
.card-6{
    grid-area: card-6;
}
.card-7{
    grid-area: card-7;
}
.card-8{
    grid-area: card-8;
}
.card-9{
    grid-area: card-9;
}
.card-10{
    grid-area: card-10;
}
.container{
    display: grid;
    grid-template-areas: 
    "pet-small card-2 card-3 card-4"
    "pet-small card-5 card-6 card-7"
    "pet-small card-8 card-9 card-10"
    ;
    align-items: center;
}
main{
    padding-top: 70px;
    padding-bottom: 60px;
    padding-left: 10%;
    padding-right: 10%;
}


/* Responsive media query */
@media screen and (max-width: 1023.33px) {
    .hide{
        display: none;
    }
    section{
        padding-left: 7%;
    }
    .cat-img{
        margin-left: -230px;
        margin-top: -100px;
    }
    nav{
        padding-left: 5%;
        padding-right: 5%;
    }
    .second-page{
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 50px;
    }
    .Toha{
        margin-left: 16%; 
         margin-right: 13%; 
    }
    .second-head{
        margin-left: 7%;
    }
    

    .container {
        /* display: grid; */
        grid-template-areas: 
           "pet-small card-10"
           "card-2 card-3"
           "card-4 card-5"
           "card-6 card-7"
           "card-8 card-9";
           /* column-gap: 5px; */
           row-gap: 20px;
    }
    .card-3,.card-5,.card-7,.card-9{
        margin-left: -150px;
        text-align: center;
        
    }
    .pet-small{
        margin-left: 5%;
        align-items: center;
        
    }
   #alam{
    display: none;
   }
   main{
    padding-left: 0%;
    padding-right: 0%;
   }
   .fourth-page-head{
    padding-left: 5%;
   }
}


